<!DOCTYPE html>
<html>
<head>
  <title>Dashboard Starter UI, by Keen IO</title>
  <link rel="stylesheet" href="./static/lib/css//bootstrap.min.css">
  <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" href="./static/lib/css/dc.css">
  <link rel="stylesheet" href="./static/css/index.css">
</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">NYC Citibike Trip Histories Analysis</a>
      </div>
    </div>
  </div>

  <div class="container-fluid">

    <div class="row">

            <!-- Map -->  
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            NYC Map - Total Trip Duration By Zipcode
          </div>
          <div class="chart-stage">
            <div id="nyc-chart"></div>
          </div>
        </div>
      </div>
      <!-- Map -->

      <div class="col-sm-9">
        
        
        <div class="row">

          <!-- Rain Chart -->
          <div class="col-sm-3">
            <div class="chart-wrapper">
              <div class="chart-title">
                Precipitation
              </div>
              <div class="chart-stage">
                <div id="rain-chart"></div>
              </div>
            </div>
          </div>
          <!-- Rain Chart -->

          <!-- Snow Chart -->
          <div class="col-sm-3">
            <div class="chart-wrapper">
              <div class="chart-title">
                Snow Depth
              </div>
              <div class="chart-stage">
                <div id="snow-chart"></div>
              </div>
            </div>
          </div>
          <!-- Snow Chart -->

          <!-- Temp Chart -->
          <div class="col-sm-3">
            <div class="chart-wrapper">
              <div class="chart-title">
                Average Temperature
              </div>
              <div class="chart-stage">
                <div id="temp-chart"></div>
              </div>
            </div>
          </div>
          <!-- Temp Chart -->

          <!-- Wind Chart -->
          <div class="col-sm-3">
            <div class="chart-wrapper">
              <div class="chart-title">
                Average Wind Speed
              </div>
              <div class="chart-stage">
                <div id="wind-chart"></div>
              </div>
            </div>
          </div>
          <!-- Wind Chart -->

          <!-- Time Chart --> 
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Number of Riders
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>
          <!-- Time Chart --> 

          <!--  -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Gender
              </div>
              <div class="chart-stage">
                <div id="gender-chart"></div>
              </div>
            </div>
          </div>
          <!--  -->

          <!--  -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Age Ranges
              </div>
              <div class="chart-stage">
                <div id="birthdate-chart"></div>
              </div>
            </div>
          </div>
          <!--  -->

        </div>
      </div>



    </div>

  </div>

    <hr>
    <p class="small text-muted">Jeonghoon Kim</p>

  </div>

  <script src="./static/lib/js/jquery.min.js"></script>
  <script src="./static/lib/js/bootstrap.min.js"></script>
  <script src="./static/lib/js/crossfilter.js"></script>
  <script src="./static/lib/js/d3.js"></script>
  <script src="./static/lib/js/dc.js"></script>
  <script src="./static/lib/js/queue.js"></script>
  <script src="./static/lib/js/keen.min.js"></script>
  <script src='./static/js/main.js' type='text/javascript'></script>

</body>
</html>
